<!--
   Generated template for the UserProfile page.
 
   See http://ionicframework.com/docs/v2/components/#navigation for more info on
   Ionic pages and navigation.
 -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button ion-button icon-only (click)="help()"><ion-icon name="help-circle"></ion-icon></button>
    </ion-buttons>  
    <ion-title>User Profile</ion-title>
    <ion-buttons end>
      <button ion-button (click)="result()">Results</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
    <form [formGroup]="userProfileForm">
      <!--gender-->
      <ion-card>
        <ion-item>
          <ion-label>Gender:</ion-label>
          <ion-select formControlName="gender">
            <ion-option value="M">Male</ion-option>
            <ion-option value="F">Female</ion-option>
          </ion-select>
        </ion-item>
      </ion-card>
      <!--birth-->
      <ion-card>
        <ion-item>
          <ion-label>Date of Birth</ion-label>
          <ion-datetime displayFormat="MMMM DD, YYYY" formControlName="birth" placeholder="MM-DD-YYYY"></ion-datetime>
        </ion-item>
        <div *ngIf="formErrors.birth">
          <div style="text-align:center" *ngFor="let errors of formErrors.birth" >
            <p style="color: #C33825;font-style:italic;">{{errors}}<p>
          </div>
        </div>
      </ion-card>
      <!--weight-->
      <ion-card>
        <ion-item>
          <ion-label>Weight:</ion-label>
          <ion-range formControlName="kiloRange" *ngIf="weightKg" (ionChange)="kgWeightChange()" min="0" max="635" pin="true" color="dark" >
            <ion-label range-left>0 kg</ion-label>
            <ion-label range-right>635 kg</ion-label>
          </ion-range>
          <ion-range formControlName="poundRange" *ngIf="weightLb" (ionChange)="lbWeightChange()" min="0" max="1400" pin="true" color="dark">
            <ion-label range-left>0 lb</ion-label>
            <ion-label range-right>1400 lb</ion-label>
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-input type="number" formControlName="noWeight" maxlength="{{maxLengthWeight}}" (blur)="setWeightRange()"></ion-input>
          <ion-select formControlName="weight" (ionChange)="weightUnitChange()">
            <ion-option value="kg">Kilogram</ion-option>
            <ion-option value="lb">Pound</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="formErrors.noWeight">
          <div style="text-align:center" *ngFor="let errors of formErrors.noWeight" >
            <p style="color: #C33825;font-style:italic;">{{errors}}<p>
          </div>
        </div>
      </ion-card>
      <!--height-->
      <ion-card>
        <ion-item>
          <ion-range (ionChange)="cmHeightChange()" *ngIf="cm" formControlName="cmRange" min="0" max="275" pin="true" color="dark" >
            <ion-label range-left>0 cm</ion-label>
            <ion-label range-right>275 cm</ion-label>
          </ion-range>
          <ion-range (ionChange)="ftHeightChange()" *ngIf="ft" formControlName="ftRange" min="0" max="9" pin="true" color="dark" >
            <ion-label range-left>0 ft</ion-label>
            <ion-label range-right>9 ft</ion-label>
          </ion-range>
          <ion-label>Height:</ion-label>
        </ion-item>
        <ion-item>
          <ion-input (blur)="setHeightRange()" maxlength="{{maxLengthHeightCm}}" *ngIf="cm" type="number" formControlName="noHeight"></ion-input>
          <ion-input (blur)="setHeightRange()" maxlength="{{maxLengthHeightFt}}" *ngIf="ft" type="number" formControlName="noHeight"></ion-input>
          <ion-select (ionChange)="heightTypeChange()" formControlName="height">
            <ion-option value="cm">Centimeters</ion-option>
            <ion-option value="ft">Feet</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="ft">
          <ion-input maxlength="{{maxLengthHeightIn}}" type="number" formControlName="noHeightIn"></ion-input>
          <ion-select formControlName="heightIn" disabled>
            <ion-option value="in">Inches</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="formErrors.noHeight">
          <div style="text-align:center" *ngFor="let errors of formErrors.noHeight" >
            <p style="color: #C33825;font-style:italic;">{{errors}}<p>
          </div>
        </div>
        <div *ngIf="formErrors.noHeightIn">
          <div style="text-align:center" *ngFor="let errors of formErrors.noHeightIn" >
            <p style="color: #C33825;font-style:italic; ">{{errors}}<p>
          </div>
        </div>
      </ion-card>
      <!--waist-->
      <ion-card>
        <ion-item>
          <ion-label>Waist Circumference:</ion-label>
          <ion-range min="0" max="303" pin="true" color="dark" (ionChange)="cmWaistChange();" *ngIf="waistCm" formControlName="cmWaistRange">
            <ion-label range-left>0 cm</ion-label>
            <ion-label range-right>303 cm</ion-label>
          </ion-range>
          <ion-range min="0" max="119" pin="true" color="dark" (ionChange)="inWaistChange();" *ngIf="waistIn" formControlName="inWaistRange">
            <ion-label range-left>0 in</ion-label>
            <ion-label range-right>119 in</ion-label>
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-input type="number" maxlength="{{maxLengthWaist}}" formControlName="noWaist" (blur)="setWaistRange()"></ion-input>
          <ion-select formControlName="waist" (ionChange)="waistUnitChange();">
            <ion-option value="cm">Centimeters</ion-option>
            <ion-option value="in">Inches</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="formErrors.noWaist">
          <div style="text-align:center" *ngFor="let errors of formErrors.noWaist" >
            <p style="color: #C33825;font-style:italic; ">{{errors}}<p>
          </div>
        </div>
      </ion-card>
      <!--hip-->
      <ion-card>
        <ion-item>
          <ion-label>Hip Circumference:</ion-label>
          <ion-range min="0" max="245" pin="true" color="dark" (ionChange)="cmHipChange();" *ngIf="hipCm" formControlName="cmHipRange">
            <ion-label range-left>0 cm</ion-label>
            <ion-label range-right>245 cm</ion-label>
          </ion-range>
          <ion-range min="0" max="96" pin="true" color="dark" (ionChange)="inHipChange();" *ngIf="hipIn" formControlName="inHipRange">
            <ion-label range-left>0 in</ion-label>
            <ion-label range-right>96 in</ion-label>
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-input type="number" maxlength="{{maxLengthHip}}" formControlName="noHip" (blur)="setHipRange()"></ion-input>
          <ion-select formControlName="hip" (ionChange)="hipUnitChange();">
            <ion-option value="cm">Centimeters</ion-option>
            <ion-option value="in">Inches</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="formErrors.noHip">
          <div style="text-align:center" *ngFor="let errors of formErrors.noHip" >
            <p style="color: #C33825;font-style:italic; ">{{errors}}<p>
          </div>
        </div>
      </ion-card> 
    </form>
</ion-content>