<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Waist Circumference</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="waistForm">
    <!--gender-->
    <ion-card>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select formControlName="gender">
          <ion-option value="M">Male</ion-option>
          <ion-option value="F">Female</ion-option>
        </ion-select>
      </ion-item>
    </ion-card>
    <!--waist-->
    <ion-card>
      <ion-item>
          <ion-label>Waist Circumference:</ion-label>
          <ion-range min="51" max="180" pin="true" color="dark" (ionChange)="cmWaistChange()" *ngIf="waistCm" formControlName="cmWaistRange">
            <ion-label range-left>51 cm</ion-label>
            <ion-label range-right>180 cm</ion-label>
          </ion-range>
          <ion-range min="20" max="71" pin="true" color="dark" (ionChange)="inWaistChange()" *ngIf="waistIn" formControlName="inWaistRange">
            <ion-label range-left>20 in</ion-label>
            <ion-label range-right>71 in</ion-label>
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-input type="number" maxlength="{{maxLengthWaist}}" formControlName="noWaist" (blur)="setWaistRange()"></ion-input>
          <ion-select formControlName="waist" (ionChange)="waistUnitChange()">
            <ion-option value="cm">Centimeters</ion-option>
            <ion-option value="in">Inches</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="formErrors.noWaist">
          <div style="text-align:center" *ngFor="let errors of formErrors.noWaist" >
            <p style="font-style:italic; color:#C33825;">{{errors}}<p>
          </div>
        </div>
    </ion-card>
  </form>
  <ion-card *ngIf="riskIsLow && classification" style="text-align: center; background-color: #009688; color: white">
    <ion-card-content style="font-size: 16px">
      {{message}}
      <span>Your waist circumference is within the cut-off value of less than {{cutOff}} cm which may indicate <b style="font-size: 20px">LOW RISK</b> of developing cardiovascular diseases and type-2 diabetes.</span>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!riskIsLow && classification" style="text-align: center; background-color: #EC6770; color: white">
    <ion-card-content style="font-size: 16px">
      {{message}}
      <span>Your waist circumference is above the cut-off value of greater than or equal to {{cutOff}} cm which may indicate <b style="font-size: 20px">HIGH RISK</b> of developing cardiovascular diseases and type-2 diabetes.</span>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!classification" style="text-align: center; background-color: transparent; color: black; box-shadow: inset 200px 200px 300px 200px rgba(255,255,255,0.7);">
    <ion-card-content style="font-size: 16px">
      {{message}}
    </ion-card-content>
  </ion-card>
</ion-content>
 
