<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Waist Circumference</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select name="gender" (ionChange)="genderChanged()" formControlName="gender" [(ngModel)] = "gender">
          <ion-option value = "male">Male</ion-option>
          <ion-option value = "female">Female</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Waist Circumference:</ion-label>
          <ion-range [(ngModel)]="waistCircum" (ionChange) = "waistCircumChanged()" pin="true" color="dark" min="{{minCircum}}" max="{{maxCircum}}" [ngModelOptions]="{standalone: true}" step="0.01">
            <ion-label name="minCircum" range-left>{{minCircum}}&ensp;{{unitMeasureAbbrev}}</ion-label>
            <ion-label name="maxCircum" range-right>{{maxCircum}}&ensp;{{unitMeasureAbbrev}}</ion-label>
          </ion-range>
      </ion-item>
      <ion-item>
          <ion-input [(ngModel)]="waistCircum" (ionChange) = "waistCircumChanged()" type="number" step="0.01" formControlName="waistCircum" minlength = "{{inputMinCircum}}" maxlength="{{inputMaxCircum}}"></ion-input>
          <ion-select (ionChange) = "unitChanged()" name="unitMeasure" [(ngModel)] = "unitMeasure" [ngModelOptions]="{standalone: true}">
            <ion-option value ="centimeters">Centimeters</ion-option>
            <ion-option value ="inches" >Inches</ion-option>
          </ion-select>
        </ion-item>
    </ion-list>
  </form>
  <ion-card *ngIf = "showOutput" text-wrap>
    <ion-card-content  style="font-size: 25px;text-align: center;">
        <p *ngIf = "!riskIsLow">Your waist circumference is above the cut-off value of greater than 94 cm which may indicate <b style="color:red">HIGH RISK</b> of developing cardiovascular diseases and type-2 diabetes.</p>
        <p *ngIf = "riskIsLow">Your waist circumference is within the cut-off value of less than 94 cm which may indicate <b style="color:green">LOW RISK</b> of developing cardiovascular diseases and type-2 diabetes.</p>
      
    </ion-card-content>
  </ion-card>
</ion-content>
