<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Body Mass Index</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding no-lines class="container">
  <form [formGroup]="bmiForm">
    <!--gender-->
    <ion-card>
      <ion-item>
        <ion-label>Gender:</ion-label>
        <ion-select formControlName="gender">
          <ion-option value="M">Male</ion-option>
          <ion-option value="F">Female</ion-option>
        </ion-select>
      </ion-item>
    </ion-card>
    <!--birth-->
    <ion-card>
      <ion-item>
        <ion-label>Date of Birth</ion-label>
        <ion-datetime displayFormat="MMMM DD, YYYY" formControlName="birth" placeholder="MM-DD-YYYY"></ion-datetime>
      </ion-item>
    </ion-card>
    <!--weight-->
    <ion-card>
      <ion-item>
        <ion-range (ionChange)="kiloChange()" *ngIf="kilo" formControlName="kiloRange" min="0" max="635" pin="true" color="dark" >
          <ion-label range-left>0 kg</ion-label>
          <ion-label range-right>635 kg</ion-label>
        </ion-range>
        <ion-range (ionChange)="poundChange()" *ngIf="pound" formControlName="poundRange" min="0" max="1400" pin="true" color="dark">
          <ion-label range-left>0 lb</ion-label>
          <ion-label range-right>1400 lb</ion-label>
        </ion-range>
        <ion-label>Weight:</ion-label>
      </ion-item>
      <ion-item>
        <ion-input (blur)="weightChange()" type="number" formControlName="noWeight"></ion-input>
        <ion-select (ionChange)="weightTypeChange()" formControlName="weight">
          <ion-option value="kg">Kilogram</ion-option>
          <ion-option value="lb">Pound</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="formErrors.noWeight">
        <div style="text-align:center" *ngFor="let errors of formErrors.noWeight" >
          <p style="font-style:italic;color:red">{{errors}}<p>
        </div>
      </div>
    </ion-card>
    <!--height-->
    <ion-card>
      <ion-item>
        <ion-range (ionChange)="cmChange()" *ngIf="cm" formControlName="cmRange" min="0" max="275" pin="true" color="dark" >
          <ion-label range-left>0 cm</ion-label>
          <ion-label range-right>275 cm</ion-label>
        </ion-range>
        <ion-range (ionChange)="ftChange()" *ngIf="ft" formControlName="ftRange" min="0" max="9" pin="true" color="dark" >
          <ion-label range-left>0 ft</ion-label>
          <ion-label range-right>9 ft</ion-label>
        </ion-range>
        <ion-label>Height:</ion-label>
      </ion-item>
      <ion-item>
        <ion-input (blur)="heightChange()" *ngIf="cm" type="number" formControlName="noHeight"></ion-input>
        <ion-input (blur)="heightChange()" *ngIf="ft" type="number" formControlName="noHeight"></ion-input>
        <ion-select (ionChange)="heightTypeChange()" formControlName="height">
          <ion-option value="cm">Centimeters</ion-option>
          <ion-option value="ft">Feet</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="ft">
        <ion-input type="number" formControlName="noHeightIn"></ion-input>
        <ion-select formControlName="heightIn" disabled>
          <ion-option value="in">Inches</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="formErrors.noHeight">
        <div style="text-align:center" *ngFor="let errors of formErrors.noHeight" >
          <p style="font-style:italic;color:red">{{errors}}<p>
        </div>
      </div>
      <div *ngIf="formErrors.noHeightIn">
        <div style="text-align:center" *ngFor="let errors of formErrors.noHeightIn" >
          <p style="font-style:italic;color:red">{{errors}}<p>
        </div>
      </div>
    </ion-card>
  </form>
  <ion-card style="text-align: center; background-color: #009688; color: white">
    <ion-card-content style="font-size: 16px">
      {{message}}
      <p *ngIf="classification">
        <span *ngIf="abnormal">Classified as <b style="color:red">{{status}}</b></span>
        <span *ngIf="normal">Classified as <b style="color: #B2EBF2">{{status}}</b></span>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
