<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Energy Requirement</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-lines no-shadow>
  <form [formGroup]="energyForm">
    <!--gender-->
    <ion-card>
      <ion-item>
        <ion-label>Gender:</ion-label>
        <ion-select formControlName="gender">
          <ion-option value="M">Male</ion-option>
          <ion-option value="F">Female</ion-option>
        </ion-select>
      </ion-item>
    </ion-card>
    <!--age-->
    <ion-card>
      <ion-item>
        <ion-label>Age Range:</ion-label>
        <ion-select formControlName="ageRange">
          <ion-option value="1">Children, 1-2</ion-option>
          <ion-option value="2">Children, 3-5</ion-option>
          <ion-option value="3">Children, 6-9</ion-option>
          <ion-option value="4">Children, 10-12</ion-option>
          <ion-option value="5">Adolescents, 13-15</ion-option>
          <ion-option value="6">Adolescents, 16-18</ion-option>
          <ion-option value="7">Adult, 19 and above</ion-option>
        </ion-select>
      </ion-item>
    </ion-card>
    <!--height-->
    <ion-card *ngIf="energyForm.value.ageRange==7">
      <ion-item>
        <ion-range (ionChange)="cmHeightChange()" *ngIf="cm" formControlName="cmRange" min="0" max="275" pin="true" color="dark" >
          <ion-label range-left>0 cm</ion-label>
          <ion-label range-right>275 cm</ion-label>
        </ion-range>
        <ion-range (ionChange)="ftHeightChange()" *ngIf="ft" formControlName="ftRange" min="0" max="9" pin="true" color="dark" >
          <ion-label range-left>0 ft</ion-label>
          <ion-label range-right>9 ft</ion-label>
        </ion-range>
        <ion-label>Height:</ion-label>
      </ion-item>
      <ion-item>
        <ion-input (blur)="setHeightRange()" maxlength="{{maxLengthHeightCm}}" *ngIf="cm" type="number" formControlName="noHeight"></ion-input>
        <ion-input (blur)="setHeightRange()" maxlength="{{maxLengthHeightFt}}" *ngIf="ft" type="number" formControlName="noHeight"></ion-input>
        <ion-select (ionChange)="heightTypeChange()" formControlName="height">
          <ion-option value="cm">Centimeters</ion-option>
          <ion-option value="ft">Feet</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="ft">
        <ion-input maxlength="{{maxLengthHeightIn}}" type="number" formControlName="noHeightIn"></ion-input>
        <ion-select formControlName="heightIn" disabled>
          <ion-option value="in">Inches</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="formErrors.noHeight">
        <div style="text-align:center" *ngFor="let errors of formErrors.noHeight" >
          <p class="negativeResult" style="font-style:italic;">{{errors}}<p>
        </div>
      </div>
      <div *ngIf="formErrors.noHeightIn">
        <div style="text-align:center" *ngFor="let errors of formErrors.noHeightIn" >
          <p class="negativeResult" style="font-style:italic;">{{errors}}<p>
        </div>
      </div>
      <ion-item>
        <ion-label>Physical activity:</ion-label>
        <ion-select formControlName="activity">
          <ion-option value="30">Sedentary</ion-option>
          <ion-option value="35">Light</ion-option>
          <ion-option value="40">Moderate</ion-option>
          <ion-option value="45">Very Active</ion-option>
        </ion-select>
      </ion-item>
    </ion-card>
  </form>
  <form [formGroup]="macroForm">
    <!--result-->
    <ion-card style="text-align: center; background-color: #009688; color: white">
      <ion-card-content *ngIf="!result" style="font-size: 16px">
        {{message}}
      </ion-card-content>
      <ion-card-content *ngIf="result" style="font-size: 16px">
        You need <b style="color:white"><em>{{kcal}} kcal</em></b> a day!
      </ion-card-content>
      <ion-card-title style="font-size: 20px; text-align: center"><b>Macronutrient Distribution</b></ion-card-title>
      <ion-card-content style="background-color: #FFE598; color: black">
        <span style="font-size: 20px;">Protein: {{protein}}%</span><br>
        <span style="font-size: 15px; text-align: center">{{proteinG}} grams</span>
        <ion-range (ionChange)="proteinChange()" *ngIf="macroRange" color="dark" min="{{minProtein}}" max="{{maxProtein}}" formControlName="proteinRange">
          <ion-label range-left>{{minProtein}}%</ion-label>
          <ion-label range-right>{{maxProtein}}%</ion-label>
        </ion-range>
      </ion-card-content>
      <ion-card-content style="background-color: #FBBC84; color: black">
        <span style="font-size: 20px;">Fat: {{fat}}%</span><br>
        <span style="font-size: 15px; text-align: center">{{fatG}} grams</span>
        <ion-range (ionChange)="fatChange()" *ngIf="macroRange" color="dark" min="{{minFat}}" max="{{maxFat}}" formControlName="fatRange">
          <ion-label range-left>{{minFat}}%</ion-label>
          <ion-label range-right>{{maxFat}}%</ion-label>
        </ion-range>
      </ion-card-content>
      <ion-card-content style="background-color: #FFF5C3; color: black">
        <span style="font-size: 20px;">Carbohydrates: {{carb}}%</span><br>
        <span style="font-size: 15px; text-align: center">{{carbG}} grams</span>
        <ion-range (ionChange)="carbChange()" *ngIf="macroRange" color="dark" min="{{minCarb}}" max="{{maxCarb}}" formControlName="carbRange">
          <ion-label range-left>{{minCarb}}%</ion-label>
          <ion-label range-right>{{maxCarb}}%</ion-label>
        </ion-range>
      </ion-card-content>
      <br>
      <div *ngIf="macroRange" style="text-align:center">
        <span class="negativeResult" *ngIf="macroPercent!=100" ><b>{{macroPercent}} %</b></span>
        <span *ngIf="macroPercent==100" style="color:white"><b>{{macroPercent}} %</b></span><br>
        <br>
        <i>Note: You should have a total percentage of 100%</i>
      </div>
      <i *ngIf="!macroRange" (click)="macro()">Click here to change the ranges of the distribution.</i>
      <br>
      <button ion-button icon-left (click)="reset()" *ngIf="macroRange">
          <ion-icon name="refresh"></ion-icon>
            Reset
        </button>
        <button ion-button icon-left *ngIf="macroRange" [disabled]="macroPercent!=100" (click)="macro()">
          <ion-icon name="checkmark"></ion-icon>
            OK
        </button>
    </ion-card>
  </form>
</ion-content>
